@gap: 8px;
.rounded(@r: 4px) { border-radius: @r; -webkit-border-radius: @r; }
.card {
  color: #333;
  margin: @gap;
  .rounded(6px);
  display: block;
  width: ~"calc(100% - @{gap})";
  &:hover { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); position: relative; }
}
